<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{fragments/layout/popupLayout}">
<div class="row chat-wrapper" layout:fragment="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row position-relative">
                    <div class="col-lg-4 chat-content">
                        <div class="chat-header border-bottom pb-2">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex align-items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                         stroke-linejoin="round"
                                         class="feather feather-corner-up-left icon-lg mr-2 ml-n2 text-muted d-lg-none"
                                         id="backToChatList">
                                        <polyline points="9 14 4 9 9 4"></polyline>
                                        <path d="M20 20v-7a4 4 0 0 0-4-4H4"></path>
                                    </svg>
                                    <figure class="mb-0 mr-2">
                                        <img src="https://via.placeholder.com/43x43" class="img-sm rounded-circle"
                                             alt="image">
                                        <div class="status online"></div>
                                        <div class="status online"></div>
                                    </figure>
                                    <div>
                                        <p>Mariana Zenha</p>
                                        <p class="text-muted tx-13">Front-end Developer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="chat-body ps ps--active-y">
                            <ul class="messages">
                                <li class="message-item friend">
                                    <img src="https://via.placeholder.com/43x43" class="img-xs rounded-circle"
                                         alt="avatar">
                                    <div class="content">
                                        <div class="message">
                                            <div class="bubble">
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry.</p>
                                            </div>
                                            <span>8:12 PM</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="message-item me">
                                    <img src="https://via.placeholder.com/43x43" class="img-xs rounded-circle"
                                         alt="avatar">
                                    <div class="content">
                                        <div class="message">
                                            <div class="bubble">
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry printing and typesetting industry.</p>
                                            </div>
                                        </div>
                                        <div class="message">
                                            <div class="bubble">
                                                <p>Lorem Ipsum.</p>
                                            </div>
                                            <span>8:13 PM</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="message-item friend">
                                    <img src="https://via.placeholder.com/43x43" class="img-xs rounded-circle"
                                         alt="avatar">
                                    <div class="content">
                                        <div class="message">
                                            <div class="bubble">
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry.</p>
                                            </div>
                                            <span>8:15 PM</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="message-item me">
                                    <img src="https://via.placeholder.com/43x43" class="img-xs rounded-circle"
                                         alt="avatar">
                                    <div class="content">
                                        <div class="message">
                                            <div class="bubble">
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry printing and typesetting industry.</p>
                                            </div>
                                            <span>8:15 PM</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="message-item friend">
                                    <img src="https://via.placeholder.com/43x43" class="img-xs rounded-circle"
                                         alt="avatar">
                                    <div class="content">
                                        <div class="message">
                                            <div class="bubble">
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry.</p>
                                            </div>
                                            <span>8:17 PM</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="message-item me">
                                    <img src="https://via.placeholder.com/43x43" class="img-xs rounded-circle"
                                         alt="avatar">
                                    <div class="content">
                                        <div class="message">
                                            <div class="bubble">
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry printing and typesetting industry.</p>
                                            </div>
                                        </div>
                                        <div class="message">
                                            <div class="bubble">
                                                <p>Lorem Ipsum.</p>
                                            </div>
                                            <span>8:18 PM</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="message-item friend">
                                    <img src="https://via.placeholder.com/43x43" class="img-xs rounded-circle"
                                         alt="avatar">
                                    <div class="content">
                                        <div class="message">
                                            <div class="bubble">
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry.</p>
                                            </div>
                                            <span>8:22 PM</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="message-item me">
                                    <img src="https://via.placeholder.com/43x43" class="img-xs rounded-circle"
                                         alt="avatar">
                                    <div class="content">
                                        <div class="message">
                                            <div class="bubble">
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry printing and typesetting industry.</p>
                                            </div>
                                            <span>8:30 PM</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="ps__rail-x" style="left: 0px; bottom: -400px;">
                                <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                            </div>
                            <div class="ps__rail-y" style="top: 400px; height: 365px; right: 0px;">
                                <div class="ps__thumb-y" tabindex="0" style="top: 167px; height: 153px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 chat-content">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    <script th:src="@{/ta/js/call/callList.js}"></script>-->
</div><!-- end of content -->
</html>