<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="codes">
<div class="row" id="search_condition" th:fragment="search_condition">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">조회 조건</h6>
                <form id="search_form">
                    <div class="row">
                        <div class="col-sm-1">
                            <div class="form-group">
                                <label class for="dateType">조회 구분</label>
                                <select class="form-control marginRight20px" id="dateType">
<!--                                    <option selected="" disabled="">선택</option>-->
                                    <div th:each="code : ${codeList}">
                                        <option th:if="${code.groupCode == 'dateType'}" th:value="${code.code}" th:text="${code.name}" th:selected="${code.code == 'DAY'}"></option>
                                    </div>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2" id="startDateDiv">
                            <div class="form-group">
                                <label for="startDate">시작일</label>
                                <div class="input-group date datepicker" id="startDate">
                                    <input type="text" name="startDateText" class="form-control"><span class="input-group-addon"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4"
                                                                                                       width="18"
                                                                                                       height="18"
                                                                                                       rx="2"
                                                                                                       ry="2"></rect><line
                                        x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line
                                        x1="3" y1="10" x2="21" y2="10"></line></svg></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2" id="endDateDiv">
                            <div class="form-group">
                                <label for="endDate">종료일</label>
                                <div class="input-group date datepicker" id="endDate">
                                    <input type="text" name="endDateText" class="form-control"><span class="input-group-addon"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4"
                                                                                                       width="18"
                                                                                                       height="18"
                                                                                                       rx="2"
                                                                                                       ry="2"></rect><line
                                        x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line
                                        x1="3" y1="10" x2="21" y2="10"></line></svg></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group">
                                <label class for="centerType">센터</label>
                                <select class="form-control" id="centerType">
<!--                                    <option selected="" disabled="">선택</option>-->
                                    <div th:each="code : ${codeList}">
                                        <option th:if="${code.groupCode == 'centerType'}" th:value="${code.code}" th:text="${code.name}"></option>
                                    </div>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group">
                                <label class for="timeType">상담 시간</label>
                                <select class="form-control" id="timeType">
<!--                                    <option selected="" disabled="">선택</option>-->
                                    <div th:each="code : ${codeList}">
                                        <option th:if="${code.groupCode == 'timeType'}" th:value="${code.code}" th:text="${code.name}"></option>
                                    </div>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group">
                                <label class for="durationType">통화 길이</label>
                                <select class="form-control" id="durationType">
<!--                                    <option selected="" disabled="">선택</option>-->
                                    <div th:each="code : ${codeList}">
                                        <option th:if="${code.groupCode == 'durationType'}" th:value="${code.code}" th:text="${code.name}"></option>
                                    </div>
                                </select>
                            </div>
                        </div>
                    </div><!-- Row -->
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">콜 검색</label>
                                <input type="text" class="form-control" placeholder="콜 검색">
                            </div>
                        </div><!-- Col -->
                    </div><!-- Row -->
                </form>
                <div class="form-actions" style="margin-top: 25px;text-align:right">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-secondary active" role="button" id="btnReset" aria-pressed="true">초기화</button>
                            <button type="button" class="btn btn-primary active" role="button" id="btnSearch" aria-pressed="true">조회</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="hiddenDateType" th:value="${dateType}">
</div><!-- end of th:fragment="search_condition" -->
        <script th:src="@{/ta/js/common/common-datepicker.js}"></script>
</th:block>
</html>