<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/common1 :: head('계시판')">

</head>
<body>
<div class="main-wrapper">

    <!-- partial:../../partials/_sidebar.html -->
    <nav class="sidebar" th:replace="fragments/common1 :: sidebar('sidebar')">
    </nav>

    <nav class="settings-sidebar" th:replace="fragments/common1 :: settings-sidebar('settings-sidebar')">
    </nav>
    <!-- partial -->

    <div class="page-wrapper">

        <!-- partial:../../partials/_navbar.html -->
        <nav class="navbar" th:replace="fragments/common1 :: navbar('navbar')">
        </nav>
        <!-- partial -->

        <div class="page-content">

            <nav class="page-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Tables</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Data Table</li>
                </ol>
            </nav>

            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title">Data Table</h6>
                            <p class="card-description">Read the <a href="https://datatables.net/" target="_blank">
                                Official DataTables Documentation </a>for a full list of instructions and other options.
                            </p>
                            <div class="table-responsive">
                                <table id="dataTableExample" class="table">
                                    <thead>
                                    <tr>
                                        <th>번호</th>
                                        <th>콜 아이디</th>
                                        <th>상담원 아이디</th>
                                        <th>상담원 이름</th>
                                        <th>상담일</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="call, index : ${callList}">
                                        <td th:text="${index.index+1}"></td>
                                        <td th:text="${call.rFileNm}"></td>
                                        <td th:text="${call.rUsrId}"></td>
                                        <td th:text="${call.rUsrNm}"></td>
                                        <td th:text="${call.yyyymmdd}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- partial:../../partials/_footer.html -->
        <footer class="footer d-flex flex-column flex-md-row align-items-center justify-content-between">
            <p class="text-muted text-center text-md-left">Copyright © 2020 <a href="https://www.nobleui.com"
                                                                               target="_blank">NobleUI</a>. All rights
                reserved</p>
            <p class="text-muted text-center text-md-left mb-0 d-none d-md-block">Handcrafted With <i
                    class="mb-1 text-primary ml-1 icon-small" data-feather="heart"></i></p>
        </footer>
        <!-- partial -->

    </div>
</div>

<!-- core:js -->
<script src="../../../vendors/core/core.js"></script>
<!-- endinject -->
<!-- plugin js for this page -->
<script src="../../../vendors/datatables.net/jquery.dataTables.js"></script>
<script src="../../../vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
<!-- end plugin js for this page -->
<!-- inject:js -->
<script src="../../../vendors/feather-icons/feather.min.js"></script>
<script src="../../../js/template.js"></script>
<!-- endinject -->
<!-- custom js for this page -->
<script src="../../../js/data-table.js"></script>
<!-- end custom js for this page -->
</body>
</html>