<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:replace="~{fragments/common/main_header::main_header}">
    <body>
        <div class="main-wrapper">
            <nav th:replace="~{fragments/common/main_sidebar::main_sidebar}"></nav>
            <div class="page-wrapper">
                <nav th:replace="~{fragments/common/main_navbar::main_navbar}"></nav>
                <div class="page-content">
                    <!--                    <nav class="page-breadcrumb">-->
                    <!--                        <ol class="breadcrumb">-->
                    <!--                            <li class="breadcrumb-item">-->
                    <!--                                <a href="/">Main</a>-->
                    <!--                            </li>-->
                    <!--                            <li class="breadcrumb-item active" aria-current="page">Data Table</li>-->
                    <!--                        </ol>-->
                    <!--                    </nav>-->
                    <div th:replace="~{fragments/common/search_condition::codes}"></div>
                    <div layout:fragment="content"></div>
                </div>
            </div>
        </div>
        <script>
            $(function () {
                $("#nav_menu_area #nav_menu li").on("click", function () {
                    $("#nav_menu_area #nav_menu li").removeClass("active");
                    $(this).addClass("active");
                    location.href = $(this).data('href');
                });
            });
        </script>
    </body>
</html>