<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:replace="~{fragments/common/main_header::main_header}">
    <body>
        <div class="main-wrapper">
            <div class="page-wrapper">
                <div class="page-content">
                    <div layout:fragment="content"></div>
                </div>
                <footer th:replace="~{fragments/common/main_footer::main_footer}"></footer>
            </div>
        </div>
        <script>
            $(function () {
                $('body').addClass('sidebar-folded');
            });
        </script>
    </body>
</html>